<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../style.css">
    </head>
    <body>
        <h1 style="font-family: starwars; padding-left: 20px;">Star Wars Database</h1>
        <div class="topnav">
            <a href="../characters">Characters</a>
            <a href="../alliance">Alliances</a>
            <a href="../planets">Planets</a>
            <a class="active" href="../species">Species</a>
            <a href="../character_movie">Characters & Movies</a>
            <a href="../movies">Movies</a>
        </div>

        <h3>Add a new Species:</h3>
        <form id="addspecies" action="/species" method="post">
            Name: <input type="text" name="name"><br>
            Lifespan: <input type="text" name="lifespan"><br>
            Height: <input type="text" name="height"><br>
            Classification: <input type="text" name="classification"><br>
            <input type="submit" value="Submit">
        </form>
        <br/>

        <h3>Current Species:</h3>
        <table>
            <thead> 
                <th>Name</th> 
                <th>Lifespan</th> 
                <th>Height</th>
                <th>Classification</th>
            </thead> 
            <tbody>
                {{#each species}} 
                <tr> 
                    <td>{{name}}</td> 
                    <td>{{lifespan}}</td> 
                    <td>{{height}}</td> 
                    <td>{{classification}}</td>
                    <td><button onclick="deleteSpecies({{id}})">Delete</button></td>
                    <td><a href="/species/{{id}}">Update</a></td>
                </tr> 
                {{/each}} 
            </tbody> 
        </table> 
    </body>
</html>
