<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../style.css">
    </head>
    <body>
        <h1 style="font-family: starwars; padding-left: 20px;">Star Wars Database</h1>
        <div class="topnav">
            <a href="../characters">Characters</a>
            <a href="../alliance">Alliances</a>
            <a class="active" href="../planets">Planets</a>
            <a href="../species">Species</a>
            <a href="../character_movie">Characters & Movies</a>
            <a href="../movies">Movies</a>
        </div>

        <h1>Update {{planets.name}}:</h1>
        <form id="update-planets" action="/planets" method="put">
            Name: <input type="text" name="name" value="{{planets.name}}"><br>
            Diameter: <input type="number" name="credits" value="{{planets.credits}}"><br>
            Population: <input type="number" name="government" value="{{planets.government}}"><br>
            Climate: <input type="text" name="climate" value="{{planets.climate}}"><br>
        </form>
        <button onclick="updatePlanet({{planets.id}})">Update</button>
    </body>
</html>
