<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../style.css">
    </head>
    <body>
        <h1 style="font-family: starwars; padding-left: 20px;">Star Wars Database</h1>
        <div class="topnav">
            <a href="../characters">Characters</a>
            <a class="active" href="./alliance">Alliances</a>
            <a href="../planets">Planets</a>
            <a href="../species">Species</a>
            <a href="../character_movie">Characters & Movies</a>
            <a href="../movies">Movies</a>
        </div>

        <h1>Update {{alliance.name}}:</h1>
        <form id="update-alliance" action="/alliance" method="put">
            Name: <input type="text" name="name" value="{{alliance.name}}"><br>
            Credits: <input type="text" name="credits" value="{{alliance.credits}}"><br>
            Government: <input type="text" name="government" value="{{alliance.government}}"><br>
        </form>
        <button onclick="updateAlliance({{alliance.id}})">Update</button>
    </body>
</html>
