<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../style.css">
    </head>
    <body>
        <h1 style="font-family: starwars; padding-left: 20px;">Star Wars Database</h1>
        <div class="topnav">
            <a class="active" href="../characters">Characters</a>
            <a href="../alliance">Alliances</a>
            <a href="../planets">Planets</a>
            <a href="../species">Species</a>
            <a href="../character_movie">Characters & Movies</a>
            <a href="../movies">Movies</a>
        </div>

        <h1>Update {{characters.fname}} {{characters.lname}}:</h1>
        <form id="update-characters" action="/characters" method="put">
            First Name: <input type="text" name="fname" value="{{characters.fname}}"><br>
            Last Name: <input type="text" name="lname" value="{{characters.lname}}"><br>
            Race: <select name="race" id="species-select">
                {{#each species}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select><br>
            Homeworld: <select name="homeworld" id="planet-select">
                {{#each planets}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select> <br>
            Association: <select name="association" id="alliance-select">
                {{#each alliance}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select> <br>
            <button onclick="updateCharacters({{characters.id}})">Update</button>
        </form>
    </body>
</html>
